.CartCount {
	position: absolute;
	border: 2px solid #ff9344;
	border-radius: 50%;
	padding: 18px;
	top: 24px;
	left: -12px;
	text-align: center;
	background-color: #979797;
	opacity: 0.9;
	color: #ff9344;
}
.CartCount span {
	position: absolute;
	line-height: 0;
	top: 50%;
	left: 30%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
}
.CartIcon {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
	transition: 1s;
	align-content: center;
}

.CartNavContainer {
	position: relative;
	display: block;
	align-content: center;
}
