.ContactsMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactsContainer {
    display: flex;
    align-items: center;
}

.ContactsTitle {
    font-weight: 800;
    color: #979797;
    font-size: 2rem;
    margin-right: 24px;
}

.ContactsImg {
    max-height: 30px;
    align-content: center;
}

.ContactsImages {
    min-height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.7;
}