.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: initial;
	min-height: 15vh;
	background-color: #d5e4dd;
	padding: 12px 12px 0 12px;
}

.NavbarLinks {
	width: 50vw;
	display: flex;
	justify-content: end;
}

.NavbarLink {
	margin-right: 24px;
	padding: 12px;
	border: 2px solid #979797;
	text-decoration: none;
	border-radius: 12px;

	color: #979797;
	font-family: 'Bitter', serif;
	font-weight: 600;
	font-size: 1.5rem;
	transition: 1s;
}

.NavbarAppName {
	padding: 18px;
	border: 2px solid #ff9344;
	text-decoration: none;
	border-radius: 12px;

	color: #ff9344;
	font-weight: 600;
	font-size: 2rem;
	transition: 1s;
}

.Navbar a.active {
	color: #fc8299;
	border: 2px solid #fc8299;
}

.NavbarLink:hover {
	color: #fc8299;
	border: 2px solid #fc8299;
}

.NavbarAppName:hover {
	color: #fc8299;
	border: 2px solid #fc8299;
}

.NavbarCart {
	background-color: #fc8299;
	border-radius: 50%;
	transition: 1s;
}

.NavbarCart:hover {
	-webkit-box-shadow: 12px 12px 8px 0px rgba(195, 164, 194, 0.5);
	-moz-box-shadow: 12px 12px 8px 0px rgba(195, 164, 194, 0.5);
	box-shadow: 12px 12px 8px 0px rgba(195, 164, 194, 0.5);
	filter: brightness(0.9);
}
