.AmountBtns {
    padding: 12px;
    border: 2px solid #ff6346;
    border-radius: 12px;

    background-color: #c3a4c2;
}

.AmountBtnsDecrease {
    padding: 3px 1rem;
    border: 2px solid #589abe;
    border-radius: 50%;
    
    color: #589abe;
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-size: 1.5rem;
    transition: 1s;
    background-color: #c3a4c2;
}

.AmountBtnsIncrease {
    padding: 3px 1rem;
    border: 2px solid #517d32;
    border-radius: 50%;
    
    color: #517d32;
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-size: 1.5rem;
    transition: 1s;
    background-color: #c3a4c2;
}

.AmountBtnsAmount {
    padding: 3px 1rem;
    transition: 1s;
    
    color: #ff6346;
    font-weight: 300;
    font-size: 1.5rem;
}

.AmountBtnsDecrease:hover {
    opacity: 0.7;
    color: #979797;
    border: 2px solid #979797;
}

.AmountBtnsIncrease:hover {
    opacity: 0.7;
    color: #979797;
    border: 2px solid #979797;
}
