/*reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Bitter', serif;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  min-height: 75vh;
  background: rgb(213,228,221);
  background: linear-gradient(180deg, rgba(213,228,221,1) 0%, rgba(195,164,194,1) 50%, rgba(213,228,221,1) 100%);
}
